@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: #4d375d;
}

.container button {
    outline: none;
    border: none;
    width: 150px;
    cursor: pointer;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 3px #ffe227;
    transition: all ease-in 0.3s;
}

.container button:hover {
    transform: scale(1.1);
    transition: all ease-in 0.3s;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.green {
    /* border: 5px solid rgb(59, 240, 59) !important; */
    box-shadow: 0px 0px 4px 3px rgb(18, 221, 18) !important;
    transition: all ease-in 0.3s;
}

.red {
    box-shadow: 0px 0px 4px 3px rgb(247, 54, 54) !important;
    transition: all ease-in 0.3s;
}

.grey {
    box-shadow: 0px 0px 4px 3px rgb(255, 255, 255) !important;
    transition: all ease-in-out 0.3s;
    background-color: aliceblue;
}

svg {
    color: #eb596e;
    border-radius: 30px;
    transition: all ease-in 0.3s;
}

svg:hover {
    color: #ffe227;
}

.score-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #ffe227;
    text-align: center;
}

.player-score {
    margin: 0 80px;
}

.reload-container {
    display: flex;
    justify-content: center;
}

.reload {
    outline: none;
    margin-top: 40px;
    cursor: pointer;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #eb596e;
    font-weight: 800;
    transition: all ease-in 0.3s;
}

.reload:hover {
    background-color: #ec3954;
}

.disable {
    color: #4d375d;
    cursor: default !important;
}

.disable:hover {
    transform: scale(1) !important;
}

.result {
    position: relative;
    top: 30px;
    color: #e9cc0e;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}



footer > p {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}